/* Botão*/
.primary-button { 
    background: var(--accent); 
    color: #172b3d; 
    display: inline-flex; 
    font-size: 0.9rem; 
    font-weight: 700; 
    gap: 18px; 
    margin-top: 18px; 
    padding: 16px 20px; 
    text-decoration: none; 
    transition: box-shadow 180ms ease, transform 180ms ease; 
}

.primary-button:hover { 
    background: #f5b976; 
    color: #172b3d; 
    text-decoration: none; 
}

.primary-button:hover { 
    box-shadow: 7px 7px 0 var(--blue-dark); 
    transform: translate(-2px, -2px); 
}
